# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
server

# Go build files
*.test
*.out

# Dependency directories
vendor/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log
